@page "/countries"

<h3 class="list-unstyled">Paises</h3>

<div class="mb-3">
    <a class="btn btn-outline-primary" href="/countries/create">Crear nuevo País</a>
</div>
<GenericList MyList="Countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">País</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>
                            <a class="btn btn-outline-warning">Editar</a>
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </td>
                    </tr>
                }
            
            </tbody>
        </table>

    </Body>

</GenericList>